{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">

    <form method="POST" action="" enctype="multipart/form-data">
        {{ wtf.quick_form(post_form) }}
    </form>
    <br>


    {% for post in posts %}
    <hr>

    <a href="{{url_for('profile', username=post.author.username)}}"><img src="{{ url_for('static', filename='uploads/images/'+post.author.profile_picture)  }}" class="img-responsive" width="128" style="display:inline;"></a>&emsp;<a href="{{url_for('profile', username=post.author.username)}}">{{post.author.username}}</a> posted an update {{ moment(post.timestamp).fromNow() }}<br><br>
        &emsp;<p style="display:inline;">{{post.body}}</p>

        {% for photo in photos %}
            {% if post.id == photo.post.id %}
    <div class="container" align="center">
        <a href="{{ url_for('static', filename='uploads/images/'+ photo.filename) }}"><img class="img-responsive" src="{{ url_for('static', filename='uploads/images/'+ photo.filename) }}" width="350" ></a><br>
    </div>
            {% endif %}

        {% endfor %}

    {% endfor %}



</div>
{% endblock %}