{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} {% if title %} {{title}} {% else %} Goup {% endif %} {% endblock %}


{% block app_content %}
<div class="container">

    <form method="POST" action="" enctype="multipart/form-data">
        {{ wtf.quick_form(post_form) }}
    </form>
    <br>


    {% for post in posts %}
        <hr>
        <a href="{{url_for('profile', username=post.author.username)}}"><img src="{{ url_for('static', filename='uploads/images/'+post.author.profile_picture)  }}" class="img-responsive" width="90" style="display:inline;"></a>&emsp;<h4 style="display:inline;"><a href="{{url_for('profile', username=post.author.username)}}">{{post.author.username}}</a> posted an update {{ moment(post.timestamp).fromNow() }}</h4><br>
            &emsp;<p>{{post.body}}</p>
    <h6>{{ post.likes.count() }} like and {{ post.comments.count() }} comment</h6>
            <a href="{{url_for('post',id=post.id)}}">See Full Post</a>
    {% endfor %}



</div>
{% endblock %}