{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">

   <form method="POST" action="" enctype="multipart/form-data">
       {{wtf.quick_form(photo_form)}}
    </form>
    <br>

    {% for photo in photos %}
    <div class="container" align="center">
        <a href="{{url_for('profile', username=photo.post.author)}}"><img src="{{ url_for('static', filename='uploads/images/'+photo.post.author.profile_picture)  }}" class="img-responsive" width="64" style="display:inline;"></a>&emsp;<h4 style="display:inline;"><a href="{{url_for('profile', username=photo.post.author.username)}}">{{photo.post.author}}</a> uploaded a photo {{ moment(photo.timestamp).fromNow() }}</h4><br><br>
        <p>{{photo.title}}</p>
        <a href="{{ url_for('static', filename='uploads/images/'+ photo.filename) }}"><img class="img-responsive" src="{{ url_for('static', filename='uploads/images/'+ photo.filename) }}" width="600"></a><br>
        {{ photo.likes.count() }} likes and {{ photo.comments.count() }} comments <br>
        <a href="{{url_for('photo',id=photo.id)}}">See Full Post</a>
    <hr>
    </div>

    {% endfor %}



</div>
{% endblock %}