{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} {% if title %} {{title}} {% else %} Goup {% endif %} {% endblock %}


{% block app_content %}
<div class="container">



        <a href="{{url_for('profile', username=post.author.username)}}"><img src="{{ url_for('static', filename='uploads/images/'+post.author.profile_picture)  }}" class="img-responsive" width="90" style="display:inline;"></a>&emsp;<h4 style="display:inline;"><a href="{{url_for('profile', username=post.author.username)}}">{{post.author.username}}</a> posted an update {{ moment(post.timestamp).fromNow() }}</h4><br><br>
            &emsp;<p>{{post.body}}</p>

            {% if current_user.has_liked_post(post) %}
    <a href="{{ url_for('like_post_action', post_id=post.id, action='unlike') }}"><span style="font-size:20px;">&#128078;</span></a>
            {% else %}
    <a href="{{ url_for('like_post_action', post_id=post.id, action='like') }}"><span style="font-size:20px;">&#128077;</span></a>
            {% endif %}
            <br>

            {{ post.likes.count() }} likes<br>
            {{ post.comments.count() }} comments <br>
            {% if current_user.username == post.author.username %}

                <a href="{{url_for('edit_post', id=post.id)}}"><button type="button" class="btn btn-primary">Edit</button></a>
                <a href="{{url_for('delete_post', id=post.id)}}"><button type="button" class="btn btn-danger">Delete</button></a>

            {% endif %}
            <br><br>
            {% for comment in comments %}
                    <a href="{{url_for('profile', username=comment.author.username)}}"><img src="{{ url_for('static', filename='uploads/images/'+comment.author.profile_picture)  }}" class="img-responsive" width="20" style="display:inline;"></a>&emsp;<h4 style="display:inline;"><a href="{{url_for('profile', username=comment.author.username)}}">{{comment.author.username}}</a></h4>: {{comment.body}}<br>
                   <br>
                    {% if current_user.username == comment.author.username %}

                        <a href="{{url_for('edit_comment', id=comment.id)}}"><button type="button" class="btn btn-primary">Edit</button></a>
                        <a href="{{url_for('delete_comment', id=comment.id)}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    {% endif %}
                    <br><br>
            {% endfor %}

            <form method="POST" action="" enctype="multipart/form-data"  >
                <input type="hidden" value="{{post.id}}" name="post_id" >
                {{wtf.quick_form(comment_form)}}
            </form>





</div>
{% endblock %}